*{
    margin: 0;
}
    nav{
    background-color: #023020 ;
    border:2px solid black;
    display:flex;
    /*justify-content:space-between;
    justify-content: center;
    padding: 15px;*/
}
.left-nav{
    flex: 40%;
    text-decoration: underline;
    font-size: 27px;
    font-weight: bold;
    color:gold;
    margin-left: 1.5%;
}
.right-nav{
    flex: 60%;
    text-align: right;/* why not use justify content end*/
    font-size: 20px;
    font-weight: bold;
    
}
.right-nav ul{
    list-style-type: none;
}
.right-nav ul li{
      display: inline-block;
      padding: 10px;
}
.right-nav ul li a{
    text-decoration: none;
    color:darkkhaki;
    font-weight: bold;
    font-size: 20px;
}
.right-nav ul li:hover {
    background-color:white;
}
.right-nav ul li:hover a{
    color:crimson;
}